body {
  max-width: 1600px;
  margin: 0 auto;
  height: auto; }

body html {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%; }

body a {
  text-decoration: none; }

#header {
  width: 100%;
  height: 100%;
  background-image: url("../img/header fon.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center; }
  #header .top {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 25px; }
    #header .top .logo {
      text-align: left;
      width: 20%;
      padding: 0 0 0 50px;
      margin: 0; }
    #header .top .menu {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      padding: 0 50px 0 0;
      margin: 0;
      width: 79%; }
      #header .top .menu ul {
        display: flex;
        padding: 0;
        margin: 0; }
        #header .top .menu ul li {
          padding-left: 70px;
          color: #ffffff;
          list-style-type: none;
          font-size: 10px; }
          #header .top .menu ul li a {
            color: #ffffff; }
  #header h1 {
    color: #18E5C3;
    font-size: 56px; }
  #header img {
    padding-bottom: 20px; }
  #header input {
    background-color: #009BFF;
    color: #ffffff;
    font-size: 12px;
    width: 140px;
    height: 35px; }
  #header p {
    font-size: 18px;
    color: #ffffff;
    padding: 30px 19% 30px 19%;
    margin: 0;
    width: 60%;
    text-align: center; }
  #header .file_types {
    width: 100%;
    height: 200px;
    background-color: #344059;
    padding: 0;
    margin: 0; }
    #header .file_types h6 {
      color: #ffffff;
      font-size: 12px;
      padding: 30px 0 0 0; }
    #header .file_types ul {
      display: flex;
      flex-direction: row;
      justify-content: center; }
      #header .file_types ul li {
        padding: 37px;
        color: #ffffff;
        list-style-type: none;
        background: #273145;
        border: 1px solid #171D2A;
        border-radius: 8px; }

#features {
  width: 100%;
  height: 100%;
  background-color: #0E131D;
  align: center; }
  #features .featurePhoto {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
    #features .featurePhoto .shadow_img {
      margin: 50px;
      box-shadow: 0px 0px 40px 40px #090e19; }
    #features .featurePhoto .leftright {
      width: 30px;
      height: 50px; }
  #features .feature {
    color: #ffffff; }
    #features .feature h3 {
      color: #10DEBC;
      font-size: 48px;
      text-align: center; }
    #features .feature ul {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      padding: 50px 250px 50px 250px;
      list-style-type: circle; }
      #features .feature ul li {
        color: #10DEBC;
        padding-right: 40px; }
        #features .feature ul li span {
          color: #ffffff;
          font-size: 16px; }
        #features .feature ul li p {
          color: #ffffff;
          font-size: 14px; }

#pricing {
  width: 100%;
  height: 100%;
  background-color: #344059;
  text-align: center; }
  #pricing .money_back {
    padding: 20px 0 0 0;
    margin: 0; }
    #pricing .money_back p {
      color: #3AEDFF;
      font-size: 18px;
      padding: 0;
      margin: 0; }
  #pricing .package {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px 0 80px 0;
    color: #ffffff; }
    #pricing .package p {
      font-size: 36px; }
    #pricing .package h4 {
      font-size: 12px; }
    #pricing .package ul {
      list-style: none;
      text-align: left; }
      #pricing .package ul li::before {
        content: "-";
        text-align: left;
        font-size: 14px; }
    #pricing .package input {
      background-color: #009BFF;
      color: #ffffff;
      font-size: 12px;
      border: 0; }
    #pricing .package .pds_package {
      border: 3px solid #8B97AA;
      border-right: 0;
      width: 170px;
      height: 270px;
      padding: 10px; }
    #pricing .package .sketch_package {
      border: 3px solid #8B97AA;
      border-right: 0;
      width: 170px;
      height: 270px;
      padding: 10px; }
    #pricing .package .full_package {
      border: 3px solid transparent;
      border-image: linear-gradient(0deg, #10DEBC, #009BFF);
      border-image: -webkit-linear-gradient(0deg, #10DEBC, #009BFF);
      border-image: -moz-linear-gradient(0deg, #10DEBC, #009BFF);
      border-image: -o-linear-gradient(0deg, #10DEBC, #009BFF);
      border-image: -ms-linear-gradient(0deg, #10DEBC, #009BFF);
      border-image-slice: 1;
      width: 180px;
      height: 310px;
      padding: 10px; }

#footer {
  width: 100%;
  height: 100%;
  background-color: #0E131D;
  align: center;
  display: flex; }
  #footer .AboutUs {
    width: 50%;
    color: #ffffff;
    padding: 50px 100px 0 200px; }
    #footer .AboutUs h3 {
      font-size: 16px; }
    #footer .AboutUs p {
      font-size: 14px; }
  #footer .ContactUs {
    width: 50%;
    padding: 50px 200px 100px 100px; }
    #footer .ContactUs h3 {
      font-size: 16px;
      color: #ffffff; }
    #footer .ContactUs form input[type=text], #footer .ContactUs form textarea {
      width: 100%;
      padding: 12px;
      border: 1px solid #FFFFFF;
      box-sizing: border-box;
      margin-top: 6px;
      margin-bottom: 16px;
      resize: vertical;
      background-color: #7B8BA1; }
    #footer .ContactUs form input[type=submit] {
      background-color: #009BFF;
      color: white;
      padding: 12px 20px;
      border: none;
      width: 120px;
      cursor: pointer; }
    #footer .ContactUs form input[type=submit]:hover {
      background-color: #2CA7F5; }

@media screen and (max-width: 1200px) {
  #features .shadow_img {
    width: 80%; } }

@media screen and (max-width: 980px) {
  #header h1 {
    padding: 0 70px 0 70px; }
  #header .airsky {
    width: 70%; }
  #features .shadow_img {
    width: 70%; }
  #features .feature ul {
    padding: 25px 100px 25px 100px; }
  #pricing .package .pds_package {
    width: 140px;
    height: 240px; }
  #pricing .package .sketch_package {
    width: 140px;
    height: 240px; }
  #pricing .package .full_package {
    width: 150px;
    height: 280px; }
  #footer .AboutUs {
    padding: 50px 50px 50px 50px; }
  #footer .ContactUs {
    padding: 50px 50px 50px 50px; } }
